<header>
  <div class="header-left">
    <a href="http://localhost:3000">サービス名</a>
  </div>
  <div class="header-right">
    <ul>
      <li><span class="fa fa-twitter"></span><a href="https://twitter.com/intent/tweet?url={URLEncodedPermalink}&text={Title}&via=webgaku">Twitter</a></li>
      <li><span class="fa fa-facebook"></span><a href="https://www.facebook.com/sharer/sharer.php?u={URLEncodedPermalink}">Facebook</a></li>
    </ul>
    <button type="button" class="button"><a href="http://localhost:3000">
      <span class="hamburger"></span>
      </a>
    </button>
  </div>
</header>

<div class="contents">
  <div class="contents-img-top">
    <%= image_tag("116809_jpg2/116809.jpg") %>
  </div>
</div>
